name: oraculum
description: Um aplicativo de astrologia, tarô e consultas com médiuns.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Firebase
  firebase_core: ^3.13.0
  cloud_firestore: ^5.6.5
  firebase_auth: ^5.3.2
  firebase_analytics: ^11.4.4
  firebase_crashlytics: ^4.3.4
  firebase_storage: ^12.3.6

  # UI
  cupertino_icons: ^1.0.2
  google_fonts: ^6.1.0
  flutter_animate: ^4.3.0
  cached_network_image: ^3.3.0
  fluttertoast: ^8.2.2
  smooth_page_indicator: ^1.1.0
  lottie: ^2.6.0
  fui_kit: ^2.0.0

  # Estado e navegação
  get: ^4.6.5
  provider: ^6.0.5

  # Utilitários
  intl: ^0.19.0
  shared_preferences: ^2.2.1
  image_picker: ^1.0.4

  pay: ^3.2.1

  # IA
  google_generative_ai: ^0.2.0



  uuid: any
  share_plus: ^11.0.0
  mask_text_input_formatter: ^2.9.0
  http: any
  qr_flutter: ^4.1.0
  efipay: ^1.0.6
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - assets/images/zodiac/
    - assets/pay_configs/
    - assets/certs/