<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVdEl5vlTS3CDtr-BAjU7CkAzesM3hqIY</string>
	<key>GCM_SENDER_ID</key>
	<string>558056975643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selddon.oraculum</string>
	<key>PROJECT_ID</key>
	<string>oraculum-app-dcde3</string>
	<key>STORAGE_BUCKET</key>
	<string>oraculum-app-dcde3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558056975643:ios:35a11af1a6b5e2370937be</string>
</dict>
</plist>